<div class="container m-5">
  <h1>Recept toevoegen</h1>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col">
        <label>Naam:</label>
        <input type="text" formControlName="name" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Recept naam moet worden ingevuld</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label style="width:100px;">Recipe type:</label>
        <select formControlName="recipeType" class="custom-select" style="width:250px;"
          [ngClass]="{ 'is-invalid': submitted && f.recipeType.errors }">
          <option *ngFor="let recipeType of recipeService.availableRecipeTypes" [ngValue]="recipeType">{{recipeType}}
          </option>
        </select>
        <div *ngIf="submitted && f.recipeType.errors" class="invalid-feedback">
          <div *ngIf="f.recipeType.errors.required">Recept type moet worden ingevuld</div>
        </div>
      </div>
    </div>
    <div class="form-group my-5">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Opslaan
      </button>
      <a routerLink="/recipes" class="btn btn-link">Annuleren</a>
    </div>
  </form>
</div>