<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="recipes" routerLinkActive="active">Recepten</a>
        <a class="nav-item nav-link" routerLink="ingredientNames" routerLinkActive="active">Ingrediënten</a>
        <a class="nav-item nav-link" routerLink="measureUnits" routerLinkActive="active">Maateenheden</a>
        <a class="nav-item nav-link" routerLink="tags" routerLinkActive="active">Categorieën</a>
    </div>
</nav>
