<div class="container mx-5">
    <h1>Categorieën</h1>
    

    <form>
        <div class="form-group form-inline">
            Zoeken op tekst: <input type="text" class="form-control ml-2" type="text" name="searchTerm"
                [(ngModel)]="tagService.searchTerm" />
            <span class="spinner-border text-success spinner-border-sm ml-3" *ngIf="tagService.loading$ | async"></span>
            <div class="ml-auto">
              <a routerLink="/tag-create" routerLinkActive="active" class="btn btn-sm btn-success mb-2">Categorie toevoegen</a>
            </div>
        </div>
       

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" sortable="id" (sort)="onSort($event)" style="width: 10%">ID
                        <img 
                        *ngIf="tagService.sortColumn === 'id' && tagService.sortDirection === 'asc'"
                        class="ml-1" src="assets/icons/sort-down.svg"
                        alt="Sort ascending">
                    <img 
                        *ngIf="tagService.sortColumn === 'id' && tagService.sortDirection === 'desc'"
                        class="ml-1" src="assets/icons/sort-up.svg"
                        alt="Sort ascending">
                    </th>
                    <th scope="col" sortable="name" (sort)="onSort($event)" style="width: 70%">Naam
                        <img 
                            *ngIf="tagService.sortColumn === 'name' && tagService.sortDirection === 'asc'"
                            class="ml-1" src="assets/icons/sort-down.svg"
                            alt="Sort ascending">
                        <img 
                            *ngIf="tagService.sortColumn === 'name' && tagService.sortDirection === 'desc'"
                            class="ml-1" src="assets/icons/sort-up.svg"
                            alt="Sort ascending">
                    </th>
                    <th scope="col" style="width: 5%"></th>
                    <th scope="col" style="width: 5%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tag of tagService.tagPage$ | async">
                    <td>{{tag.id}}</td>
                    <td>{{tag.name}}</td>
                    <td><a routerLink="/tag-update/{{tag.id}}"><img src="assets/icons/pencil-square.svg"
                                alt="Update tag"></a></td>
                    <td><a (click)="deleteTag(tag.id)"><img src="assets/icons/trash.svg" alt=""></a></td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="(tagService.total$ | async)!" [(page)]="tagService.page"
                [pageSize]="tagService.pageSize">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="tagService.pageSize">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="25">25 items per page</option>
                <option [ngValue]="100">100 items per page</option>
            </select>
        </div> 
    </form>
</div>