<div class="container-lg-desktop mx-5">
  <h1>{{recipe.name}}</h1>
  <div class="row mb-3">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td>Trefwoorden:</td>
            <td>{{recipe.tagString}}</td>
          </tr>
          <tr>
            <td>Voorbereidingstijd:</td>
            <td>{{recipe.preparationTime}}</td>
          </tr>
          <tr>
            <td>Bereidingstijd:</td>
            <td>{{recipe.cookTime}}</td>
          </tr>
          <tr>
            <td>Recept type:</td>
            <td>{{recipe.recipeType}}</td>
          </tr>
          <tr>
            <td>Aantal personen:</td>
            <td>{{recipe.servings}}</td>
          </tr>
          <tr>
            <td>Waardering:</td>
            <td>{{recipe.rating}}</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="col-md-6"><img src="assets/images/test_recipe.jpeg" alt="Test recept"> </div>
  </div>
</div>